<div class="publine-block">
    <div class="publine-img cd-picture">
        <img src="assets/img/{{resolvePriceRange priceRange}}.svg" alt="Picture">
    </div>

    <div class="publine-content">
        <h2 class="title">{{name}}</h2>
        <h2 class="subtitle vicinity">{{vicinity}}</h2>
        <p>{{summary}}</p>

        <div>
            <ul class="pub-properties">
                <li class="what-to-drink">
                    <img src="assets/img/toDrink.svg" alt="What to drink">
                    <span>{{toDrink}}</span>
                </li>
                {{#if extra}}
                <li class="pub-extra-options">
                    <img src="assets/img/extra.svg" alt="Extra options">
                    <span>{{printArray extra}}</span>
                </li>
                {{/if}}
                <li class="pub-rating">
                    <img src="assets/img/rating.svg" alt="Rating">
                    <span>rating</span>
                </li>
            </ul>
        </div>

        <a class="button show-on-the-map">
            <span class="icon">
                <img src="assets/img/placeholder.svg" alt="Take me there!">
            </span>
            <span>Show on the map</span>
        </a>

        <span class="cd-date">Jan 14</span>
    </div>
</div>
